<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body class="container">
    <header>This is my header</header>
    <main>
      <div class="jumbotron">
        <h1><%- include('../partials/header.ejs') %></h1>
        <img
          src="https://i.ytimg.com/vi/mHvBvkSCx2w/sddefault.jpg"
          alt="tonnin seteli"
          class="center"
        />
      </div>
    </main>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
